.bgimage {
	background: url(../images/southpark.jpg) no-repeat center center;
	background-size: cover;
	height: 448px;
}

.services img {
	max-width: 200px;
}


.icon {
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

.services section {
    text-align: center;
}

